/* ****************** MIXINS *********** */
/* ********* VARIABLES *********** */
/* line 11, ../sass/common/_global.scss */
.main-container ul {
  margin: 20px 0;
}
/* line 15, ../sass/common/_global.scss */
.main-container li {
  margin: 0 0 10px;
}
/* line 19, ../sass/common/_global.scss */
.main-container p {
  line-height: 1.5;
  margin: 0 0 20px;
}
/* line 24, ../sass/common/_global.scss */
.main-container a {
  text-decoration: underline;
}
/* line 27, ../sass/common/_global.scss */
.main-container a:hover {
  text-decoration: none;
}

/* line 35, ../sass/common/_global.scss */
.btn {
  padding: 10px 30px;
  text-transform: uppercase;
  text-shadow: 0 0 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

/* line 42, ../sass/common/_global.scss */
.btn-default {
  border: 1px solid white;
  background: transparent;
  color: white;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
/* line 48, ../sass/common/_global.scss */
.btn-default:hover {
  background: white;
  color: black;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
