body {
}

.main-container {

	h1, h2, h3, h4, h5, h6 {


	}	

	ul {
		margin: 20px 0;
	}

	li {
		margin: 0 0 10px;
	}

	p {
		line-height: 1.5;
		margin: 0 0 20px;
	}

	a {
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}

	}

}

.btn {
	padding: 10px 30px;
	text-transform: uppercase;
	text-shadow: 0 0 0;
	@include border-radius(0);
}

.btn-default {
	border: 1px solid white;
	background: transparent;
	color: white;
	@include transition(all 500ms ease);

	&:hover {
		background: white;
		color: black;
		@include transition(all 500ms ease);
	}

}
